/*This is a comment*/

/*CSS Syntax:

selector {
prooperty: value;
property: value;
}*/

p{
  font-size: 16px; /* 16px default in most browsers; can also use pts, percentages, and ems(width of the letter m) To determine how many ems, divide pixels by default 16px*/
  line-height: 1.5em
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height:1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal 0.75em/1.5em Gerogia, "Times New Roman", serif;
  color: #0753de
  text-align: right
}
